body {
  background-color: #cdb19a;
}

ul {
  /* padding-left: 0; */
  display: flex;
  list-style: none;
}

li {
  padding: 10px;
  margin-bottom: 50px;
}

.header h1 {
  display: flex;
  justify-content: center;
}

.header a {
  display: flex;
  justify-content: right;
}

.new-thread {
  background-color: #ccffcb;
  text-align: center;
}

.post-thread {
  background-color: #ccffcb;
}
